@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lato');

/*Algemeen*/

figure {
    margin: auto;
}

body {
    background-color: #181C1F;
}

h1, p {
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #005288;
}

p, .ct-label {
    font-family: 'Lato', sans-serif;
    color: #0F1112;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.box {
    background-color: #fff;
}

/*Progessiebar - Brandstof */
#aantalBrandstof {
  width: 100%;
  background-color: #A7A9AC;
}

#percentage {
  width: 78%;
  height: 30px;
  background-color: #005288;
  text-align: center;
  line-height: 30px;
  color: white;
}





/*MOBIELE VERSIE (320PX) */

@media (min-width: 320px) {
    .wrapper {
        grid-gap: 25px;
    }

    h1 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    .box {
        padding: 15px;
        border-radius: 10px;
    }

    .countdown {
        margin-top: 10px;
    }

    .countdown, .brandstof, .snelheid {
        grid-column: 2 / span 10;
    }
}





/*IPAD VERSIE (768PX) */

@media (min-width: 768px) {
    .wrapper {
        grid-gap: 30px;
    }

    h1 {
        font-size: 25px;
    }

    p {
        font-size: 20px;
    }

    .box {
        padding: 25px;
    }

    .countdown {
        margin-top: 30px;
    }

}





/* LAPTOP VERSIE (1024 PX) */

@media (min-width: 1024px) {
    .box {
        border-radius: 15px;
    }

    .countdown, .snelheid {
        margin-top: 80px;
    }

    .countdown {
        grid-column: 2 / span 5;
    }

    .snelheid {
        grid-column: 7 / span 5;
    }

    .brandstof {
        grid-column: 2 / span 10;
    }

    #countdown {
        font-size: 60px;
    }





/*DESKTOP VERSIE (1920PX) */

@media (min-width: 1920px) {
    .wrapper {
        grid-gap: 50px;
    }

    h1 {
        font-size: 30px;
    }

    p {
        font-size: 25px;
    }

    .countdown, .snelheid {
        margin-top: 75px;
    }

    #countdown {
        margin: 25%;
    }
}